body {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-family: sans-serif;
}

/************************ FORM ************************/
button[type='submit'] {
  position: relative;
  right: 25px;
  top: -4px;
}
i.fa-crosshairs {
  position: relative;
  right: 50px;
  top: 5px;
}
i.fa-crosshairs:hover {
  cursor: pointer;
}
.inputError {
  background-color: #f9f2f4;
  border-color: #c7254e;
}
.input-container {
  margin-bottom: 30px;
  position: relative;
}
.error-message {
  background-color: #f9f2f4;
  color: #c7254e;
  padding: 5px;
  position: absolute;
  margin: auto;
}
.hide {
  display: none;
}

/************************ MAP ************************/
.map-container {
  margin: 20px auto;
}

/************************ LIST ************************/
.restaurant {
  padding: 10px;
  background-color: #f3f0fa;
  height: 84px;
}
li.restaurant {
  border: 1px solid #ddd;
  border-radius: 5px;
  list-style: none;
  margin-bottom: 10px;
}
.restaurant .title {
  font-size: 1.5em;
}
.list-group-item {
  margin-bottom: 10px;
  padding: 0;
}
.list-group ul {
  list-style: none;
  padding-left: 0;
}
.fa-angle-double-down, .fa-angle-double-up {
  font-size: 1.3em;
  position: relative;
  top: 2px;
}
.food-list li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  text-transform: capitalize;
}
.food-list .food-item:nth-child(even){
  background-color: #efefef;
}
.list-group li:last-child{
  border-bottom: none;
}
.show-food-list {
  color: #6a6a6a;
  float: right;
  position: relative;
}
.show-food-list:hover {
  cursor: pointer;
}
.hide {
  display:none;
}
.foodItems {
  text-transform:capitalize;
}
